/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{
    font-family: 'Archivo', sans-serif;
}

#header{
    background-color: #FFF;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    box-shadow: 0 10px #888888;
}

#header-inner{
    width: 80%;
    height: 100%;
    display: flex;
}

#header-inner .logo{
    width: 25%;
    height: 100%;
    padding: 10px 10px 10px 40px;
    align-items: center;
}

.logo img{
    max-width: 100%;
    max-height: 100%;
}

#header-inner #nav{
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
}

#main-menu{
    display: flex;
    align-items: center;
}

#main-menu > li{
    position: relative;
    margin-left: -15px;
    padding: 0 20px 0 20px;
}

#main-menu > li > a{
    color: #000;
    font-size: 15px;
    line-height: 19.5px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px #f5eeee;
}

#main-menu > li:hover > a,
#main-menu > li > a.active,
#main-menu .last-option:hover .child-menu,
#main-menu > li:hover .sub-menu > li:hover > a,
#main-menu > li:hover .sub-menu .child-menu li:hover > a{
    color: #0B249E;
}

.fa-angle-down{
    font-size: 15px;
    opacity: 0.5;
}

#main-menu .sub-menu,
#main-menu .last-option .child-menu{
    display: none;
}

#main-menu > li:hover > .sub-menu{
    width: 218px;
    padding: 15px 10px 5px 5px;
    display: block;
    position: absolute;
    top: 25px;
    left: 10px;
    background-color: #F4F4F4;
    border: 1px solid #DADADA;
    box-shadow: 1px 2px 2px #888888;
    border-radius: 2px;
}

#main-menu > li:hover .sub-menu .first-options{
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 0.1px solid #707073;
}

#main-menu > li:hover .sub-menu .last-option{
    padding: 5px;
    margin-bottom: 10px;
}

#main-menu > li:hover .sub-menu li a{
    font-size: 14px;
    text-decoration: none;
    color: black;
}

#main-menu .last-option:hover .child-menu{
    padding: 18px 10px 5px 5px;
    display: block;
    position: absolute;
    top: 77px;
    right: -100%;
    background-color: #F4F4F4;
    width: 218px;
    box-shadow: 1px 2px 2px #888888;
    border-radius: 2px;
}

#main-menu > li:hover .sub-menu .first-child{
    padding-bottom: 17px;
}

.sub-icon{
    float: right;
}

#slider{
    margin-top: 0;
    height: 1000px;
}

#slider .slide{
}

#slider .slide img{
    box-shadow: 0 0 10px 3px #888888;
}


